@font-face {
	font-family: EditorialNew;
  src: url('/EditorialNew-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
	font-family: EditorialNew;
	src: url('/EditorialNew-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: EditorialNew;
  src: url('/EditorialNew-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Sneak;
  src: url('/Sneak-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Sneak;
  src: url('/Sneak-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Sneak;
  src: url('/Sneak-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

:root {
	--black: #262626;
	--white: hsl(47, 100%, 99%);
	--yellow-white: hsl(47, 100%, 94%);
	--transparent-white: hsla(0, 0%, 100%, 0.2);
	font-family: EditorialNew;
	background-color: var(--black);
}

body {
	min-height: 100vh;
	margin: 0;
	color: var(--black);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: Sneak;
	font-weight: normal;
	font-size: 4.75rem;
	line-height: 5.625rem;
	margin: 0;
}

h2 {
	font-family: EditorialNew;
	font-size: 5.25rem;
	font-weight: 200;
	margin: 0;
}

h3 {
	font-family: Sneak;
	font-weight: 700;
	font-size: 2.25rem;
	margin: 0;
}

h4 {
	font-family: EditorialNew;
	font-weight: 300;
	font-size: 2rem;
	margin: 0;
}

h5 {
	font-family: EditorialNew;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 0;
}

p, li {
	font-family: Sneak;
	font-size: 1.125rem;
	line-height: 1.625rem;
	font-weight: 200;
	margin: 0;
}

canvas {
	background-color: red;
	/* position: fixed; */
	/* top: 0; */
}

a:hover {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}


@media (max-width: 1000px) {
	h1 {
		font-size: 2.5rem;
		line-height: 3rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}

	h5 {
		font-size: 1.25rem;
	}

	li {
		font-size: 0.875rem;
		line-height: 1.125rem;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.625rem;
	}

}
