@font-face {
  font-family: EditorialNew;
  src: url('static/EditorialNew-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: EditorialNew;
  src: url('static/EditorialNew-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: EditorialNew;
  src: url('static/EditorialNew-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Sneak;
  src: url('static/Sneak-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Sneak;
  src: url('static/Sneak-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Sneak;
  src: url('static/Sneak-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

:root {
	--black: #262626;
	--transparent-white: hsla(0, 0%, 100%, 0.2);
	font-family: 'EditorialNew';
}

body {
	min-height: 100vh;
	margin: 0;
	color: var(--black);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: Sneak;
	font-weight: normal;
	font-size: 4.75rem;
	line-height: 5.625rem;
	margin: 0;
}
h2,

a:hover {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* @media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
} */
